{#
 * Template: partials/lessonCodeSnippets.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry module
 #}

<div class="lesson-module lesson-module-code">
    <div class="lesson-module-code__header">
        {% if module.curl %}
            <a href="#" class="lesson-module-code__trigger" data-target="curl">cURL</a>
        {% endif %}

        {% if module.dotNet %}
            <a href="#" class="lesson-module-code__trigger" data-target="dotnet">.NET</a>
        {% endif %}

        {% if module.javascript %}
            <a href="#" class="lesson-module-code__trigger" data-target="javascript">JavaScript</a>
        {% endif %}

        {% if module.java %}
            <a href="#" class="lesson-module-code__trigger" data-target="java">Java</a>
        {% endif %}

        {% if module.javaAndroid %}
            <a href="#" class="lesson-module-code__trigger" data-target="android">Android</a>
        {% endif %}

        {% if module.php %}
            <a href="#" class="lesson-module-code__trigger lesson-module-code__trigger--active" data-target="php">PHP</a>
        {% endif %}

        {% if module.python %}
            <a href="#" class="lesson-module-code__trigger" data-target="python">Python</a>
        {% endif %}

        {% if module.ruby %}
            <a href="#" class="lesson-module-code__trigger" data-target="ruby">Ruby</a>
        {% endif %}

        {% if module.swift %}
            <a href="#" class="lesson-module-code__trigger" data-target="swift">Swift</a>
        {% endif %}
    </div>

    <div class="lesson-module-code__code-area">
        {% if module.curl %}
            <div class="lesson-module-code__code" id="curl">
                <pre>
                    <code class="shell">{{ module.curl }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.dotNet %}
            <div class="lesson-module-code__code" id="dotnet">
                <pre>
                    <code class="csharp">{{ module.dotNet }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.javascript %}
            <div class="lesson-module-code__code" id="javascript">
                <pre>
                    <code class="javascript">{{ module.javascript }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.java %}
            <div class="lesson-module-code__code" id="java">
                <pre>
                    <code class="java">{{ module.java }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.javaAndroid %}
            <div class="lesson-module-code__code" id="android">
                <pre>
                    <code class="java">{{ module.javaAndroid }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.php %}
            <div class="lesson-module-code__code lesson-module-code__code--active" id="php">
                <pre>
                    <code class="php">{{ module.php }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.python %}
            <div class="lesson-module-code__code" id="python">
                <pre>
                    <code class="python">{{ module.python }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.ruby %}
            <div class="lesson-module-code__code" id="ruby">
                <pre>
                    <code class="ruby">{{ module.ruby }}</code>
                </pre>
            </div>
        {% endif %}

        {% if module.swift %}
            <div class="lesson-module-code__code" id="swift">
                <pre>
                    <code class="swift">{{ module.swift }}</code>
                </pre>
            </div>
        {% endif %}
    </div>
</div>
