{#
 * Template: course.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry      course
 * @param Contentful\Delivery\Resource\Entry|null lesson
 * @param Contentful\Delivery\Resource\Entry[]    lessons
 * @param Contentful\Delivery\Resource\Entry|null nextLesson
 * @param string[]                                visitedLessons
 #}

{% extends 'base.html.twig' %}

{% set title = lesson ? (course.title ~ ' | ' ~ lesson.title) : course.title %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="layout-no-sidebar">
        {% include 'partials/breadcrumb.html.twig' with {} only %}
    </div>

    <div class="layout-sidebar">
        <section class="layout-sidebar__sidebar">
            <div class="layout-sidebar__sidebar-header">
                <h2 class="layout-sidebar__sidebar-title">{{ 'tableOfContentsLabel'|trans }}</h2>
            </div>

            <div class="layout-sidebar__sidebar-content">
                <div class="table-of-contents">
                    <div class="table-of-contents__list">
                        <div class="table-of-contents__item">
                            <a
                                href="{{ path('course', {courseSlug: course.slug}) ~ state.queryString }}"
                                class="table-of-contents__link {{ course.id in visitedLessons ? 'visited' : '' }} {{ not lesson ? 'active' : '' }}"
                                >{{ 'courseOverviewLabel'|trans }}</a>
                        </div>

                        {% for courseLesson in course.lessons %}
                            <div class="table-of-contents__item">
                                <a
                                    href="{{ path('lesson', {courseSlug: course.slug, lessonSlug: courseLesson.slug}) ~ state.queryString }}"
                                    class="table-of-contents__link {{ courseLesson.id in visitedLessons ? 'visited' : '' }} {{ lesson and courseLesson.id == lesson.id ? 'active' : '' }}"
                                    >{{ courseLesson.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="layout-sidebar__content">
            {% if lesson %}
                {% include 'partials/lesson.html.twig' with {
                    course: course,
                    lesson: lesson,
                    nextLesson: nextLesson
                } only %}
            {% else %}
                <div class="course">
                    <h1 class="course__title">{{ title }}</h1>

                    {% include 'partials/editorialFeatures.html.twig' with {entry: course} only %}

                    <div class="course__overview">
                        <h3 class="course__overview-title">{{ 'overviewLabel'|trans }}</h3>

                        {% if course.duration %}
                            <div class="course__overview-item">
                                <svg class="course__overview-icon">
                                    <use xlink:href="{{ asset('icons/icons.svg#duration') }}"></use>
                                </svg>

                                <div class="course__overview-value">
                                    {{ 'durationLabel'|trans ~ ': ' ~ course.duration ~ ' ' ~ 'minutesLabel'|trans }}
                                </div>
                            </div>
                        {% endif %}

                        {% if course.skillLevel %}
                            <div class="course__overview-item">
                                <svg class="course__overview-icon">
                                    <use xlink:href="{{ asset('icons/icons.svg#skill-level') }}"></use>
                                </svg>

                                <div class="course__overview-value">
                                    {{ 'skillLevelLabel'|trans ~ ': ' ~ (course.skillLevel ~ 'Label')|trans }}
                                </div>
                            </div>
                        {% endif %}

                        {% if course.lessons %}
                            <div class="course__overview-cta-wrapper">
                                <a
                                    href="{{ path('lesson', {courseSlug: course.slug, lessonSlug: course.lessons[0].slug}) ~ state.queryString }}"
                                    class="course__overview-cta cta"
                                    >{{ 'startCourseLabel'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="course__description">
                        {{ course.description|markdown }}
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
