{#
 * Template: error.html.twig
 *
 * @param \Exception exception
 #}


{% extends 'base.html.twig' %}

{% block page_title %}Error{% endblock %}

{% block body %}
    <div class="layout-centered">
        <div class="error">
            <h1>{{ 'somethingWentWrongLabel'|trans }} ({{ exception.statusCode }})</h1>

            {% if exception.message %}
                <h2>{{ 'errorLabel'|trans }}</h2>
                <pre class="error__stack-trace">
                    <code class="shell">{{ exception.message }}</code>
                </pre>
            {% endif %}

            <h2>{{ 'tryLabel'|trans }}:</h2>
            <ul>
                {% if exception.statusCode == 404 %}
                    <li>{{ 'error404Route'|trans }}</li>
                    <li>{{ 'draftOrPublishedErrorLabel'|trans }}</li>
                {% endif %}
                {% if exception.statusCode == 400 %}
                    <li>{{ 'contentModelChangedErrorLabel'|trans }}</li>
                {% endif %}
                {% if exception.statusCode == 401 %}
                    <li>{{ 'verifyCredentialsErrorLabel'|trans }}</li>
                    <li>{{ 'localeContentErrorLabel'|trans }}</li>
                {% endif %}
                <li>{{ 'stackTraceErrorLabel'|trans }}</li>
            </ul>

            {% if state.usesCookieCredentials %}
                <form method="post" action="{{ path('reset') }}">
                    <p>
                        <button type="submit">{{ 'resetCredentialsLabel'|trans }}</button><br />
                    </p>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
