{#
 * Template: error.html.twig
 *
 * @param \Exception exception
 #}


{% extends 'base.html.twig' %}

{% block page_title %}Error{% endblock %}

{% block body %}
    <div class="layout-centered">
        <div class="error">
            <h1>{{ 'somethingWentWrongLabel'|trans }} ({{ exception.statusCode }})</h1>

            {% if exception.message %}
                <p>{{ exception.message }}</p>
            {% endif %}

            <h2>{{ 'hintsLabel'|trans }}</h2>
            <ul>
                {% if exception.statusCode == 404 %}
                    <li>{{ 'notFoundErrorHint'|trans }}</li>
                    <li>{{ 'draftOrPublishedErrorHint'|trans }}</li>
                {% elseif exception.statusCode == 400 %}
                    <li>{{ 'contentModelChangedErrorHint'|trans }}</li>
                {% elseif exception.statusCode == 401 %}
                    <li>{{ 'verifyCredentialsErrorHint'|trans }}</li>
                {% else %}
                    <li>{{ 'contentModelChangedErrorHint'|trans }}</li>
                    <li>{{ 'draftOrPublishedErrorHint'|trans }}</li>
                    <li>{{ 'localeContentErrorHint'|trans }}</li>
                {% endif %}
            </ul>

            {% if state.usesCookieCredentials %}
                <form method="post" action="{{ path('reset') }}">
                    <p>
                        <button type="submit">{{ 'resetCredentialsLabel'|trans }}</button>
                    </p>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
